body {
    margin: 0;
    background-color: rgba(255,255,255,0.1);
    background-image: url("../../../assets/quizAssets/flagBackdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2,
#progress-bar #progress,
label,
p,
h5,
h6
{
    font-family: 'ITC Avant Garde Gothic Book';
    color: white;
}

h1 {
    margin-block-end: 0.0em;
}

h1, h4 {
    font-family: 'Archivo Regular';
    color: #ceab82;
}

.fullpage {
    height: auto;
    width: auto;
}

.black-bg {
    background-color: rgba(0,0,0,0.6);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizBackground {
    margin: 0;
    background-image: url("../../../assets/quizAssets/flagBackdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 50%;
    width: 50%;
    max-width: 700px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    max-height: 100vh;
    overflow-y: scroll;
}

.non-scroll-container {
    height: 50%;
    width: 50%;
    max-width: 700px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    max-height: 100vh;
}

#questionaire-title {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#questionaire-info {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-size: 18px;
    overflow-y: scroll;
    height: 20%;
}

#result-info {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    overflow-y: scroll;
    height: 20%;
}

.hidden {
    display: none;
}

.button {
    cursor: pointer;
    padding: 0px 20px;
    border: 2px solid #ceab82;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.button:hover {
    background-color: rgba(255,255,255,0.1);
}

#progress-bar {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    display:inline-block;
}

#progress {
    width: 20%;
    text-align: right;
    border-bottom: 2px solid #ceab82;
    margin-bottom: -2px;
}

#running-score {
    text-align: right;
    float: right;
    border-style: ridge;
    border-color: rgba(255,255,255,0.9);
    color: #ceab82;
    background-color: rgba(255,255,255,0.1);
}

.option {
    display: flex;
    align-items: center;
    height: 8%;
    margin-top: 10px;
    padding: 2.5px;
}

.option:hover {
    background-color: rgba(255,255,255,0.1);
}

.content {
    margin-left: 10px;
    height: 100%;
}

.content img {
    max-height: 100%;
}

#collectible-diplomat img {
    max-height: 100%;
}

.small-text {
    font-size: small;
}

/* sharing icons */
/* container */

#share {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

/* buttons */

#share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 20%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

#share a:hover {
    opacity: 1;
}

/* icons */

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.facebook {
   
    background-image: url("https://image.flaticon.com/icons/svg/124/124010.svg");
}

.twitter {
     background-image: url("https://image.flaticon.com/icons/svg/733/733579.svg");
}

/* Scroll bar */
body::-webkit-scrollbar {
  width: 0.7em;
  background: #c0392b;
}
body::-webkit-scrollbar-thumb {
  background: #c0392b;
  height:30px;
}

body::-webkit-scrollbar-track-piece
{
   display:none;
}

/* results */

#option0-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#option0-progress {
    width: 10%;
    text-align: right;
    border-bottom: 2px solid #ceab82;
    margin-bottom: -2px;
    color: white;
}

#option1-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#option1-progress {
    width: 90%;
    text-align: right;
    border-bottom: 2px solid #ceab82;
    margin-bottom: -2px;
    color: white;
}
#option2-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#option2-progress {
    width: 90%;
    text-align: right;
    border-bottom: 2px solid #ceab82;
    margin-bottom: -2px;
    color: white;
}
#option3-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#option3-progress {
    width: 90%;
    text-align: right;
    border-bottom: 2px solid #ceab82;
    margin-bottom: -2px;
    color: white;
}
#option4-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#option4-progress {
    width: 90%;
    text-align: right;
    border-bottom: 2px solid #ceab82;
    margin-bottom: -2px;
    color: white;
}