
.top{top:0}
.middle{top:50%;margin-top:-10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;/*half of the .box width*/}
.right{right:0;}


/* containers */

#container{
    position: absolute;
    margin:auto;
    width: 50%;
    height :80%;

   background-color: aqua;
   background-repeat: no-repeat;
   min-width: 430px;
   min-height: 330px;
}

#code-container{
    position: relative;
    background: #000000;
    height :100%;
    right: -100%; 
    min-width: 590px;
    min-height: 330px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    overflow-y: auto;

}



#container2 .person ~ div {
    background-repeat: no-repeat;
    position:absolute;
    width: 90%;
    height: 100%;
    min-width: 90%;
    min-height: 100%;
    background-size: contain;
    background-position: center bottom;
  }

/* Person elements */

#hairFront{
  background-image: url("../images/hair/group0/0f.png");
}

#hairBack{
  background-image: url("../images/hair/group0/1b.png");
}


#skin{
  background-image: url("../images/skins/skin4.png");
}

#mouthBack{
  background-image: url("../images/lips/openmouthback.png");
}

#lips{
  background-image: url("../images/lips/openlips.png");
  filter: invert(75%) sepia(45%) saturate(7253%) hue-rotate(316deg) brightness(91%) contrast(94%);
  /* -webkit-animation: movemouth 3s infinite alternate; */
  
}

#eyebrows{
  background-image: url("../images/eyebrows/eyebrows.png");
}

#nose{
  background-image: url("../images/nose/nose.png");
}

#eyeBack{
  background-image: url("../images/eyes/eyeback.png");
}

#eyeIris{
  background-image: url("../images/eyes/eyefront.png");
}


#eyeClosed{
  -webkit-animation: eyeblink 2s infinite alternate;
}

#topClothes{

  background-image: url("../images/tops/fluffDress.png");
  flex-direction: row ;

}


.flexbox{
  display: flex; 
}

.twentyfour {
  height: 24px;
}

/* Code elements */

.languageHeader {
    position: relative; 
    z-index:1;
    border:0px;
    font-weight: 800;
}

.comment {
    position: relative; 
    z-index:1;
    border:0px;
    color:palevioletred;
    font-weight: 450;
}

.bold {
    position: relative; 
    z-index:1;
    border:0px;
    color:whitesmoke;
    font-weight: 600;
    min-height: 26px;
}


textarea {
    resize: none; 
    background-color: transparent; 
    border: 0px;
    position: relative; 
    z-index:1;
    border:0px;
    color:dimgray;
    font-weight: 300;
    outline: none;
    box-shadow: none;
    width: 580px;
    font-size: 25px;
}


.codeInput {
    /* position: absolute;  */
    background-color: transparent;
    z-index:2;
    border:0px;
    font-weight: 800;
    outline: transparent;
    font-size: 25px;
    height: 15px;
}

.smallerHeight {
  height: 90%;
}

.pythonInput {
    color:pink;
    -webkit-animation:colorchangepink 20s infinite alternate;
}

.python {
    color: palevioletred;
}

.border-highlight{
  border:2px dashed white;  
  padding:0.03em 0.25em;
}

.pythonBorder {
  -webkit-animation:bordercolorchangepink 2s infinite alternate;

}

@-webkit-keyframes movemouth{
  0% {
    background-image: url("../images/lips/openlips.png");
  }
  
  1% {
    
    background-image: url("../images/lips/closedlips.png");
  }

  2% {
    background-image: url("../images/lips/openlips.png");
  }
  
  80% {
    
    background-image: url("../images/lips/openlips.png");
  }
    
  95% {
    
    background-image: url("../images/lips/closedlips.png");
  }
  98% {
    
    background-image: url("../images/lips/openlips.png");
  }
}

@-webkit-keyframes eyeblink{
  0% {
    background-image: url("../images/eyes/eyesclosed.png");
  }
  
  20% {
    
    background-image: none;
  }
}

@-webkit-keyframes bordercolorchangepink{
  0% {
    border:2px dashed rgb(109, 42, 63);
  }
  
  20% {
    
    border:2px dotted pink;
  }
  
  40% {
    
    border:2px dashed plum;
  }
  
  60% {
    
    border:2px dotted #f83d9a;
  }
  
  80% {
    
    border:2px dashed rgb(201, 132, 170);

  }
  
  100% {
    
    border:2px dotted rgb(192, 100, 100);
  }
}



@-webkit-keyframes colorchangepink {
    0% {
      
      color: rgb(109, 42, 63);
    }
    
    20% {
      
      color: pink;
    }
    
    40% {
      
      color: plum;
    }
    
    60% {
      
      color: #f83d9a;
    }
    
    80% {
      
      color: rgb(201, 132, 170);

    }
    
    100% {
      
      color: rgb(192, 100, 100);
    }
}


